<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:flow="http://www.springframework.org/schema/webflow-config"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/webflow-config
		http://www.springframework.org/schema/webflow-config/spring-webflow-config-2.0.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-2.0.xsd"
	default-autowire="byName">	
	
	
	
	
		<!-- This activates post-processors for annotation-based config -->
    <!-- http://www.infoq.com/articles/spring-3.0-part-1 -->
    <context:annotation-config base-package="*"/>
    
    <!-- Scan for controllers and services -->
	<context:component-scan base-package="*"/>
	<!--  <aop:aspectj-autoproxy />
	
	
	<aop:config>
    	<aop:aspect  ref="audience">
      		<aop:before method="takeSeats" pointcut="execution(* com.nihilent.training.*.*(..))"/>
      		<aop:before method="turnoffMobile" pointcut="execution(* com.nihilent.training.*.*(..))"/>
    	</aop:aspect>
  </aop:config> -->
	
	
	
</beans>
